[Unit]
Description=Mare Files
PartOf=mare.target
Wants=postgresql.service
After=network.target

[Service]
Type=notify
Restart=on-failure
User=mare
RuntimeDirectory=mare-files
Environment=ASPNETCORE_ENVIRONMENT=MareFiles
Environment=DOTNET_GCHeapHardLimitPercent=0x28
Environment=DOTNET_gcServer=0
ExecStart=/opt/mare-server/MareSynchronosStaticFilesServer
ExecStartPost=chmod go+rw /run/mare-files/server.sock

[Install]
WantedBy=mare.target
