[Unit]
Description=Mare Server
PartOf=mare.target
Wants=postgresql.service
Wants=redis-server.service
Requires=redis.service

[Service]
Type=notify
Restart=on-failure
User=mare
RuntimeDirectory=mare-server
Environment=ASPNETCORE_ENVIRONMENT=MareServer
Environment=DOTNET_GCHeapHardLimitPercent=0x28
Environment=DOTNET_gcServer=0
ExecStart=/opt/mare-server/MareSynchronosServer
ExecStartPost=chmod go+rw /run/mare-server/server.sock

[Install]
WantedBy=mare.target
